@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800;900&family=Lato&family=Oswald&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }

textarea:focus, input:focus, span:focus {
    outline: none;
}

* {
    @apply box-border
}

.nav-item {
    @apply font-inter font-extrabold text-[24px] text-wild-400 text-center lg:w-60
}

.footer-item:hover {
    @apply cursor-pointer
    hover:underline 
    hover:text-green-500
    hover:duration-1000 
}

.nav-item:hover {
    @apply
    hover:underline 
    hover:text-emerald-700
    hover:duration-1000 
    
}

.footer-left-item {
    @apply font-lato font-normal text-[21px] text-white text-left w-44 uppercase select-none;
}
.coolBtn {
    @apply font-inter font-extrabold xl:p-6 xl:px-5 lg:p-2 md:p-2 sm:p-2 lg:text-xl text-center bg-[#354F52] text-2xl  text-[#CAD2C5] border-4 border-[#84A98C] rounded-full hover:text-[#354F52] hover:bg-[#DAD7CD] hover:border-[#354F52] ease-in duration-300
}

.coolLink {
    @apply cursor-pointer   
}
.quickBlurb {
    @apply bg-[#84A98C] text-[#F5F5F5] font-normal font-inter xl:text-2xl lg:text-xl md:text-lg lg:leading-[3rem] text-center mt-8 lg:mt-0 
}
.blurbImg {
    @apply xl:w-[12rem] xl:h-[12rem]  w-[10rem]
}
.blurbBox { 
    @apply bg-wild-200 px-[4rem] py-[3rem] flex lg:flex-row flex-col-reverse items-center justify-center space-x-0 lg:space-x-8 rounded-3xl  xl:px-[3rem] lg:px-[4rem] lg:mx-[8rem] mx-[0rem] my-[2rem]
}
.boldOrange {
    @apply text-[#FAAA40] font-bold
}
.contentBlurb {
    @apply xl:px-[3rem] lg:px-[4rem] px-[4rem] py-[3rem] space-x-0 lg:space-x-8 
}
.blueBlurb {
    @apply bg-[#2F3E46]  text-[#84A98C]
}
.greenBlurb {
    @apply bg-[#52796F] text-[#DAD7CD]
}

.whiteHeader {
    @apply text-[#FFFFFF] font-inter font-bold text-5xl
}
.insideText {
    @apply font-inter font-bold xl:text-[20px] lg:text-[16px]
}
.smallWhiteHeader {
    @apply  font-inter font-bold text-[36px] text-[#FFFFFF]
}
.adoptHeader {
    @apply font-oswald font-thin text-[#2F3E46] lg:text-[70px] text-[40px] tracking-[.05em]
}
.adoptText {
    @apply font-lato font-normal text-[#52796F] lg:text-[30px] text-[20px] text-center
}
.adoptOrange {
    @apply font-inter font-extrabold text-[#E29E44] xl:text-[50px] text-[40px] 
}
.adoptSubheading {
    @apply font-inter font-extrabold text-[#CAD2C5] xl:text-[20px] text-[18px]
}
.adoptDescription {
    @apply font-inter font-normal text-[#CAD2C5] xl:text-[20px] lg:text-[16px]
}
.adoptPkgHeader {
    @apply xl:text-[24px] lg:text-[22px] md:text-[20px] text-[18px] text-[#2F3E46] font-inter font-bold
}
.adoptPkgSub {
    @apply xl:text-[22px] lg:text-[20px] md:text-[18px] text-[18px] text-[#FFFFFF] font-inter font-normal 
}
.whiteCircleBorder {
    @apply rounded-[50px] border-[#FFFFFF] 
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.fade-in-image { animation: fadeIn 2s; }

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
