@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;800;900&family=Lato&family=Oswald&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply box-border
}

.nav-item {
    @apply font-inter font-extrabold text-[24px] text-wild-400 text-center lg:w-60
}

.footer-item:hover {
    @apply cursor-pointer
    hover:underline 
    hover:text-green-500
    hover:duration-1000 
}

.nav-item:hover {
    @apply
    hover:underline 
    hover:text-emerald-700
    hover:duration-1000 
    
}

.footer-left-item {
    @apply font-lato font-normal text-[21px] text-white text-left w-44 uppercase
}
.coolBtn {
    @apply font-inter font-extrabold xl:p-6 xl:px-5 lg:p-2 md:p-2 sm:p-2 lg:text-xl  bg-[#354F52] text-2xl  text-[#CAD2C5] border-4 border-[#84A98C] rounded-full 
}

.coolLink {
    @apply cursor-pointer
}